<!doctype html5>
<html>
  <head>
    <meta charset="utf-8">
    <title>IM_Melon</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.js"></script>
    <!-- Add JavaScript libraries here -->
    </head>
  <body>
    
    <div id="root">
      <p>
        If you see this, you probably forgot to import a
        <code>&lt;script&gt;</code> tag somewhere.
      </p>
    </div>

    <div className="bg-img">
    </div>

    <script src="/static/js/uiComponents.jsx" type="text/jsx"></script>
    <script src="/static/js/Homepage.jsx" type="text/jsx"></script>
    <script src="/static/js/AddMelon.jsx" type="text/jsx"></script>
    <script src="/static/js/AddSubscriber.jsx" type="text/jsx"></script>
    <script src="/static/js/App.jsx" type="text/jsx"></script>
  </body>
</html>
