<!doctype html5>
<html>
  <head>
    <meta charset="utf-8">
    <title>IM_Melon - IM a Melon</title>


    <link rel="stylesheet" href="/static/css/styles.css">
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.js"></script>
    <!-- Add JavaScript libraries here -->
    <script src="/static/js/uiComponents.jsx" type="text/jsx"></script>
  </head>
  <body>
    <div id="root">
      <p>
        If you see this, you probably forgot to import a
        <code>&lt;script&gt;</code> tag somewhere.
      </p>
    </div>
  </body>
</html>
